*
{
    box-sizing: border-box;
}
h1
{
    text-align: center;
    background-color: #888;
    color: #fff;
}
input,
button
{
    border:1px solid #ccc;
    font-size:5vw;
    line-height:7vw;
    height:10vw;
    padding:0 5vw;
    outline: 0;
}
input
{
    border-radius:5vw 0 0 5vw;
}
button
{
    border-radius:0 5vw 5vw 0;
}
#chats
{
    font-size:5vw;
}
.balloon1-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
  }
  
  .balloon1-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
  
  .balloon1-left p {
    margin: 0;
    padding: 0;
  }
#form
{
    display:none;
}
